@define-color foreground #ddf7ff;
@define-color foreground-inactive #829dd4;
@define-color background #0B0C16;
@define-color background-alt #3E4058;
@define-color music #85E1FB;

* {
    font-family: JetBrainsMonoNerdFont, FontAwesome;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.1em;
    padding-right: .6em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    background-color: @background-alt;
    border-radius: 0px;
}

#mpris {
    color: @music;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#mpris {
    background-color: @background;
    border-radius: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}
