@define-color foreground #eff0f1;
@define-color foreground-inactive #7f8c8d;
@define-color background #000000;
@define-color background-alt #222222;

* {
    font-family: JetBrainsMonoNerdFont, FontAwesome;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.1em;
    padding-right: .6em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    background-color: @background-alt;
    border-radius: 0px;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#mpris {
    background-color: @background;
    border-radius: 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}
